.bundle
Gemfile.lock
test/citi/fixtures/citi-accounts
test/citi/fixtures/citi-credentials
test/capital_one/fixtures/capital-one-accounts
test/capital_one/fixtures/capital-one-credentials
pkg
coverage
documentation
